[Twitter]
consumer key = xxxxxxxxxxxxxxxxxxxxx
consumer secret = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
access token key = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
access token secret = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
sinceid = 0

[MQTT]
host = 127.0.0.1
port = 1883
prefix = twitter/tweets

